<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc l-bloc bloc-fill-screen" id="bloc-0">
	<div class="container fill-bloc-top-edge">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
					<a class="navbar-brand" href="index.html">Gzsxtk.com</a>
					<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 mr-md-0 ml-auto" data-toggle="collapse" data-target=".navbar-1" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse navbar-1">
						<ul class="site-navigation nav navbar-nav ml-auto">
							{% for item in site.data.navigation %}
							<li class="nav-item">
								<a href="{{item.link}}" class="nav-link a-btn">{{item.name}}</a>
							</li>
							{% endfor %}							
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>