<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css?1334">
	<link rel="stylesheet" type="text/css" href="style.css?1494">
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	
    
	<script src="./js/jquery-3.3.1.min.js?13"></script>
	<script src="./js/bootstrap.bundle.min.js?4660"></script>
	<script src="./js/blocs.min.js?7221"></script>
	<script src="./js/lazysizes.min.js" defer></script>
    <title>{{ page.title }}</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body>