{% include head.html %}
{% include header.html %}
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-lg ">
		<div class="row">
			<div class="col-12 col-11 col-lg-8 offset-lg-2">
				{{ content }}	
				<h3 class="mg-md text-center ">
					<i>"Good design is making something intelligible and memorable. Great design is making something memorable and meaningful."</i><br>
				</h3>
				<h4 class="mg-md text-center ">
					<strong>Dieter Rams</strong><br>
				</h4>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->   
 <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% include footer.html %}
